<div class="row">
  <div class="col xl12 l12 m12 s12 ">
    <h4>Nueva Carrera</h4>
  </div>
</div>

<div class="row">
  <div class="col xl12 l12 m12 s12 right-align">
    <%= link_to 'Regresar', carreras_path,  { :class=>"waves-effect waves-blue btn"} %>
  </div>
</div>

<%= render 'form', carrera: @carrera %>


