
<div class="row">
  <div class="col xl3 l3 m12 s12">


  <strong>Nombre:</strong>
  <%= @carrera.nombre %>
  </div>
</div>
<div class="row">
  <div class="col xl3 l3 m12 s12">


  <strong>Clave:</strong>
  <%= @carrera.clave %>
  </div>
</div>

<%= link_to 'Edit', edit_carrera_path(@carrera) %> |
<%= link_to 'Back', carreras_path %>
