<div class="row">
  <div class="col xl12 l12 m12 s12 ">
<h4>Nuevo Semestre</h4>
  </div>
</div>

<div class="row">
  <div class="col xl12 l12 m12 s12 right-align">
    <%= link_to 'Regresar', semesters_path,  { :class=>"waves-effect waves-blue btn"} %>
  </div>
</div>

<%= render 'form', semester: @semester %>

