<!DOCTYPE html>
<html>
<div id="contenedor" ng-app="univi">
  <div id="header">      
    <img src="/assets/uvirtual-ea01ed0a7b5391a1983b601e2800536a6c49ad3b85bf61f2f1fd5f06289d698e.gif" alt="Uvirtual" width="1300" height="150" />
  </div>
  <div id="nav">
  </div>
  <section id="contenido">
    <article>
      <h2>Contenido</h2>
    </article>
  </section>
  <aside>
    <h2>Publicidad</h2>
  </aside>
  <footer>
    <label>Carretera a Acatlima Km. 2.5</label>
  </footer>
</div>

<!--
  <div class="container-fluid" ng-app="univi">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
</div>-->

</html>
