<!DOCTYPE html>
<html>
<div id="contenedor" ng-app="univi">
  <header>

  </header>
  <nav>
</nav>
  <section id="contenido">
    <article>
      <h2>Contenido</h2>
    </article>
  </section>
  <aside>
    <h2>Publicidad</h2>
  </aside>
  <footer>
    <label>Carretera a Acatlima Km. 2.5</label>
  </footer>
</div>

<!--
  <div class="container-fluid" ng-app="univi">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
</div>-->

</html>
