// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Google Sans';
  src: url( font-path('GoogleSans-Regular.ttf')) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url( font-path('OpenSans-Regular.ttf')) format('truetype');
}

body{
  background: rgba(231, 228, 227, 0.88);
  font-family: 'Google Sans',  "Google Sans";

}


footer {
  background: linear-gradient(to bottom, #621B18, #511210);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.color-fondo {
  background: rgba(255, 255, 255, 1);
}

.fondo-nav{
  background: linear-gradient(to bottom, #621B18, #511210);
}

.color-texto{
  color: #37474f;
  font-size: 18px;
}

.icons-menu {
  display: inline-block !important;
  margin-top: 15px;
  margin-left: 5px;
  line-height: 18px !important;
  height: 18px !important;
}

.hr-estilo{
  height: 70%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-estilo {
  max-height: 70% !important;
  width: 40% !important;
  margin-top: 5%;
}

.lista-size {
  width: 250px !important;
}


.color-icons{
  color: #410401;
}

.font-header{
  font-family: 'Google Sans',  "Google Sans";
}

.fondo-sesion{
  background: rgba(255, 255, 255, 1);
}

.label-form{
  font-size: 16px;
  color:  black;
}