// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #9C5811;
  height: 100%;
}

/*Estilos para la parte de control*/
#contenedor{
  width: 1300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

#header{
  height: 156px;
  display: block;
  background: #fff;
}
#nav{
  display: block;
  margin: 0px;
  height: 60px;
  background-color: rgb(41,24,1);
}

#nav h2{
  font-size: 20px;
  color: #FFF;
  text-align: center;
}

#contenido {
  width: 950px;
  height: 500px;
  float: left;
  background: #FFFFCC;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#contenido h2{
  font-size: 40px;
  text-align: center;
  line-height: 500px;
}

aside {
  width: 325px;
  height: 500px;
  background: #410401;
  margin-top: 10px;
  float: right;
}

aside h2{
  font-size: 40px;
  text-align: center;
  line-height: 500px;
}

footer {
  background: #FFF;
  clear: both;
}

footer {
  font-size: 5px;
  text-align: center;
  padding: 20px;
  font-style: italic;
}


/* Estilos para el login*/
#new_user {
  width: 340px;
  padding: 6px 12px;
}

#logotipo {
  width: 400px;
  background: #410401;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main {
  height: 100%;
}

.conteiner-vertical-center {
  display: flex;
  margin-top: 200px;
}

.conteiner-vertical-center .children {
  margin: auto;
  width: 400px;
  height: 600px;
  background: #FFFFCC;
  border-radius: 10px;

}

/* Estilo para botones Register y Login*/
ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
  background: #410401;
  padding: 8px 14px;
  border-radius: 6px; 
}

ul.hmenu li:hover {
  background: #B22222;
}

ul.hmenu li a{
  color: #fff;
}