<div class="footer-copyright" style="z-index: 3;">
  <div class="container center">
   <span>
     <p>Carretera a Acatlima Km. 2.5, Huajuapan de León, Oax., México C.P. 69000</p>
     <p>Sistema Universidad Virtual v1.0 - 2018 </p>

   </span>
  </div>
</div>