<nav class="nav-extended fondo-nav">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Divisi贸n Universidad Virtual</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#!"><i class="material-icons">home</i></a></li>
      <% if user_signed_in? %>
        <li><a href="#"><%= current_user.email %></a></li>
    <%end%>
      <% if user_signed_in? %>
        <li>
          <%= link_to('Cerrar sesi贸n', destroy_user_session_path, method: :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Iniciar sesi贸n', new_user_session_path)  %>
        </li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#"><i class="material-icons">home</i></a></li>
      <li><a href="#">Usuario Usuario</a></li>
      <li><a href="#">Cerrar Sessi贸n</a></li>
    </ul>
  </div>
</nav>

